<h2>Book a journey</h2>

<%= image_tag("/images/railmap.png", alt: "rail-map", id: "railmap") %>
<%= form_with model: @trip do |f| %>
    <%= f.label :start_id  %>
    <%= f.select :start_id, Stop.pluck(:name, :id) %>
    <%= f.label :end_id  %>
    <%= f.select :end_id, Stop.pluck(:name, :id)  %>
    <%= f.label :date %>
    <%= f.label :date, 'Date of travel:' %>
    <%= f.text_field :date , :placeholder => 'YYYY-MM-DD' %>
<%= f.submit %>
<% end %>