

<div class="row justify-content-md-center">
  <div class="col-md-6">

<% if @current_user.present? %>

<h2>Home Page</h2>
<p> Hi  <%= @current_user.name %>, what would you like to to today? </P>
<ul>
    <li> <%= link_to "New Journey", trips_new_path %> </li>
    <li> <%= link_to "Add Funds", transactions_new_path %> </li>
    <li> <%= link_to "View transactions", transactions_index_path %> </li>
    <li> <%= link_to "View past trips", trips_index_path %> </li>
</ul>
<% else %>
 <h3>
 Please sign-in or sign-up.
</h3>
<div class="row justify-content-md-center">
    <%= link_to 'Sign up', users_new_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Sign in', login_path, class: "btn btn-outline-primary" %>
    </div>
<% end %>


<svg width="500" height="500">
    // Draw Edges
    <% @pair_points.each do |pair| %>
        <line x1="<%= @scale*pair[0] %>" y1="<%= @scale*pair[1] %>" x2="<%= @scale*pair[2] %>" y2="<%= @scale*pair[3] %>" style="stroke:rgb(0,0,0);stroke-width:2" />
    <%  end %> 

    // Draw Stops
    <% @stops.each do |stop| %>
    <circle cx="<%= @scale*stop.location_x %>" cy="<%= @scale*stop.location_y %>" r="5" stroke="black" stroke-width="2" fill="white" />
    <text x="<%= @scale*stop.location_x+10 %>" y="<%= @scale*stop.location_y %>"><%= stop.name %></text>
    <%  end %> 
</svg>


 </div>
</div>