<!DOCTYPE html>
<html>

<head>
  <title>JourneyPlanner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>

<body>

<nav>
  <%= link_to 'Home', root_path %>
  <% if @current_user.present? %>
    <% if @current_user.admin? %>
     <%= link_to "all users", users_path %>
    <% end %>

    <%= link_to "Log out #{@current_user.name}", login_path, :method => 'delete' %>
    <%= "balance: #{@current_user.balance}" %>
  <% else %>
    <%= link_to 'Sign up', users_new_path %>
    <%= link_to 'Sign in', login_path %>
  <% end %>
</nav>
  <h1> JourneyPlanner for fantasy Tokyo </h1>
  <%= yield %>

</body>

</html>


