<!DOCTYPE html>
<html>

<head>
  <title>JourneyPlanner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#">JourneyPlanner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Search Stations', stations_index_path , class: "nav-link" %>
          </li>
          <% if @current_user.present? %>
            <% if @current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Add Station", stops_path , class: "nav-link"%>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Log out #{@current_user.name}", login_path, :method => 'delete' , class: "nav-link"%>
            </li>
            <li class="nav-text">
              <a class="nav-link disabled"><%= "Balance: #{@current_user.balance}" %></a>
            </li>
 
          
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign up', users_new_path, class: "nav-link" %>
            </li>            
            <li class="nav-item">
              <%= link_to 'Sign in', login_path, class: "nav-link" %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>

<div class='content'>
  <div class='container'>

    <%= yield %>

 
  </div>
</div>



  <footer class="footer">
    <div class="container text-center">
            <span class="text-muted">Made with ❤ by Joshua McDonald</span>
    </div>
  </footer>


</body>

</html>